<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  	<ul class="nav navbar-nav">
  		<li><a href="/">Dashboard</a></li>
  		<li><a href="/address/add">Add Address</a></li>
  		<li><a href="/">Add Elevator</a></li>
  	</ul>
  </div>
</nav>